@model BetterLife.Application.Conference.ConferenceDTO

@{
    ViewData["Title"] = "Details";
}

<h1>@Model.Type Details</h1>

<div>
    <h4>ConferenceDTO</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateOfMeetings)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateOfMeetings)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TicketPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TicketPrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Country)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Country)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.City)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.City)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Street)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Street)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PostalCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PostalCode)
        </dd>
    </dl>
</div>
<div>
    @if (Model.IsEditable)
    {
        <a class="btn btn-outline-secondary" asp-controller="Conference" asp-action="Edit"
       asp-route-encodedType="@Model.EncodedType">Edit</a>
    }
    <a class="btn btn-outline-warning" asp-controller="Conference" asp-action="Comment"
       asp-route-encodedType="@Model.EncodedType">Comment</a>

    <a asp-action="Index">Back to List</a>
</div>
